* {
  box-sizing: border-box;
}

.app {
  font-family: Arial, sans-serif;
  font-size: 20px;
}

.app,
textarea,
button {
  color: #353535
}

h1 {
  font-size: 1.75em;
  text-align: center;
  padding: 0.5em 0;
  background-color: #353535;
  color: white;
  cursor: default;
}

@media (min-width: 576px) {
  .app {
    font-size: 25px;
  }
}

@media (min-width: 768px) {
  .app {
    font-size: 30px;
  }
}

@media (min-width: 992px) {
  .app {
    font-size: 35px;
  }
}

@media (min-width: 1400px) {
  .app {
    font-size: 40px;
  }
}